<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/qr.css">
    <title>Código QR Generado</title>
</head>
<body>
    <h1>¡Código QR Generado!</h1>
    <h2>Muestrale este codigo al equipo de programación durante el evento de la expo tecnica!</h2>
    <img src="{{ qr_src }}" alt="Código QR generado">
</body>
</html>
